#main h1{
    text-align: center;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   padding-right: 10%;

    
}


#basic,#standard{
    
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 8px;
    padding: 25px;
    width: 200px;
    height: 200px; 
    
}
#premier{
     background-color: aquamarine;
    border: 2px solid black;
    border-radius: 8px;
    width: 200px;
    height: 200px; 
    margin-top: 40px;
    display: block;  
    padding: 25px;
}
#box button:hover{
    font-size: medium;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}
 